.dashboard {
  display: grid;
  grid-template-rows: repeat(2, 22rem);
  grid-template-columns: repeat(4, 22rem);

  grid-gap: 2.5rem;

  @media (max-width: 990px) {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}

//CARD 1 (HERO)
.card-1 {
  grid-row: 1/3;
  grid-column: 1/2;

  display: flex;
  flex-direction: column;

  border-radius: 2rem;
  overflow: hidden;

  background-color: var(--color-neutral-dark-blue);

  &__top {
    flex: 0 0 65%;

    background-color: var(--color-primary-blue);
    border-radius: inherit;

    padding: 3rem;

    color: white;

    @media (max-width: 990px) {
      display: flex;
      align-items: center;

      padding: 3rem 2rem;
    }

    .hero {
      margin-bottom: 3rem;

      @media (max-width: 990px) {
        margin-bottom: 0;
        margin-right: 1.5rem;
      }

      &__img {
        height: 7rem;
        width: 7rem;

        box-sizing: content-box;

        border-radius: 100rem;
        border: 3px solid white;
      }
    }

    .span {
      font-size: 1.4rem;
      color: var(--color-neutral-pale-blue);
    }

    .main-heading {
      font-size: 3.6rem;
      font-weight: 300;

      @media (max-width: 990px) {
        font-size: 2.8rem;
      }
    }
  }

  &__bot {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 3rem;

    @media (max-width: 990px) {
      flex-direction: row;
    }

    .btn {
      display: inline-block;
      background-color: inherit;
      border: none;
      color: var(--color-neutral-desaturated-blue);
      font-size: 1.6rem;
      font-family: inherit;
      align-self: flex-start;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: white !important;
      }
    }
  }
}

//ALL CARDS
.card {
  border-radius: 2rem;

  display: flex;
  flex-direction: column;

  color: white;

  @media (max-width: 990px) {
    height: 20rem;
  }

  .top {
    flex: 0 0 20%;
    overflow: hidden;

    &__icon {
      transform: translate(14rem, -1rem);

      @media (max-width: 990px) {
        transform: translate(25rem, -1rem);
      }

      &--img {
        height: 7rem;
        width: auto;
      }
    }
  }

  .bot {
    flex: 1;

    background-color: var(--color-neutral-dark-blue);
    background-size: cover;

    border-radius: 1.7rem;

    padding: 3rem;

    cursor: pointer;

    transition: all 0.3s;

    &__cont {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 1rem;
    }

    &__type {
      font-size: 1.8rem;
      font-weight: 400;
    }

    &__hours {
      margin-bottom: 1rem;

      @media (max-width: 990px) {
        text-align: center;
      }

      h2 {
        font-size: 5.2rem;
        font-weight: 300;

        @media (max-width: 990px) {
          font-size: 3.6rem;
        }
      }
    }

    &__info {
      @media (max-width: 990px) {
        text-align: center;
      }

      &--text {
        font-size: 1.4rem;
        color: var(--color-neutral-pale-blue);
      }
    }

    &:hover {
      background-color: hsl(238, 43%, 34%);
    }
  }
}

//CARD 2 (WORK)
.card-2 {
  grid-row: 1/2;
  grid-column: 2/3;

  background-color: var(--color-primary-light-red);
}

//CARD 3 (PLAY)
.card-3 {
  grid-row: 1/2;
  grid-column: 3/4;

  background-color: var(--color-primary-soft-blue);
}

//CARD 4 (STUDY)
.card-4 {
  grid-row: 1/2;
  grid-column: 4/5;

  background-color: var(--color-primary-dark-red);
}

//CARD 5 (EXERSIZE)
.card-5 {
  grid-row: 2/3;
  grid-column: 2/3;

  background-color: var(--color-primary-lime-green);
  background-image: url("../img/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position-x: 13rem;

  @media (max-width: 990px) {
    background-position-x: 24rem;
  }
}

//CARD 6 (SOCIAL)
.card-6 {
  grid-row: 2/3;
  grid-column: 3/4;

  background-color: var(--color-primary-violet);
  background-image: url("../img/icon-social.svg");
  background-repeat: no-repeat;
  background-position-x: 13rem;

  @media (max-width: 990px) {
    background-position-x: 25rem;
    background-position-y: -1rem;
  }
}

//CARD 7 (SELF CARE)
.card-7 {
  grid-row: 2/3;
  grid-column: 4/5;

  background-color: var(--color-primary-soft-orange);
}
